accelerate
cython
einops
fairscale
matplotlib
ninja
numpy
open_clip_torch
opencv-python-headless==4.5.5.64
pandas
peft
polygraphy
pycocotools
pydantic
pylabel
rf100vl
roboflow
scipy
supervision
timm
tqdm
transformers
rfdetr==1.2.1
