accelerate
cython
einops
fairscale
matplotlib
ninja
numpy
open_clip_torch
opencv-python-headless>=4.6.0,<4.10.0
pandas
peft
polygraphy
pycocotools
pydantic
pylabel
rf100vl
roboflow
scipy
supervision
timm
tqdm
transformers
rfdetr==1.2.1
